/* подключение шрифта */
/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Roboto:wght@400;700;900&display=swap");

@font-face {
	font-family: "Helvetica Neue";
	src: url("../HelveticaNeue-CondensedRegular.woff2") format("woff2"),
		url("../HelveticaNeue-CondensedRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../HelveticaNeue-Bold.woff2") format("woff2"), url("../HelveticaNeue-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../HelveticaNeue-CondensedBlack.woff2") format("woff2"),
		url("../HelveticaNeue-CondensedBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* обнуление */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

ul,
ol,
li {
	text-decoration: none;
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html {
	font-size: 16px;
}

body {
	line-height: 1;
	font-family: "Roboto";
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* ------------------------ */

.main {
	padding: 30px 0px 30px 0px;
	background-color: #f5f6fa;
}

.pageprovide {
	font-family: "Poppins";
	max-width: 440px;
	padding: 30px;
	background-color: #fff;
	color: #323232;
	margin: 0px auto 30px auto;
}
.pageprovidetitle {
	font-weight: 700;
	font-size: 42px;
	line-height: 62px;
	letter-spacing: 0.8px;
	margin: 0px 0px 20px 0px;
}
.pageprovidetext {
	line-height: 27px;
	letter-spacing: 1.15px;
	margin: 0px 0px 20px 0px;
}
.txt {
	margin: 0px 0px 40px 0px;
}
.pageprovidebtn {
	display: inline-block;
	line-height: 24px;
	font-weight: 700;
	background: #f78434;
	border-radius: 29px;
	padding: 18px 39px;
}
.pageprovidebtn a {
	color: #ffffff;
}

/* --------------- */

.pagesale {
	font-family: "Poppins";
	max-width: 440px;
	padding: 30px;
	background-color: #fff;
	color: #323232;
	margin: 0px auto 30px auto;
	text-align: center;
}
.pagesaleicon {
	margin: 0px 0px 15px 0px;
}
.pagesaletitle {
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	letter-spacing: 0.8px;
	margin: 0px 0px 1px 0px;
}
.pagesaletext {
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 1.15px;
	margin: 0px 0px 25px 0px;
}
.pagesalelink {
	font-weight: 700;
	line-height: 24px;
}
.pagesalelink a {
	color: #f78434;
}

/* ------------- */

.pageknight {
	font-family: "Poppins";
	max-width: 440px;
	padding: 30px;
	background-color: #fff;
	color: #323232;
	margin: 0px auto 30px auto;
	text-align: center;
}
.pageknightimage {
	margin: 0px 0px 31px 0px;
}
.pageknighttext {
	line-height: 27px;
	letter-spacing: 1.15px;
	text-align: left;
	padding: 0px 0 0 35px;
	margin: 0px 0px 0px 0px;
	margin: 0px 0px 23px 0px;
}
.pageknighttitle {
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.6px;
	text-align: left;
	padding: 0px 0 0 35px;
	margin: 0px 0px 1px 0px;
}
.pageknightlink {
	text-align: left;
	padding: 0px 0 0 35px;
}

.pageknightlink a {
	line-height: 27px;
	color: #58bebf;
}

/* ---------------- */

.pagechoose {
	max-width: 255px;
	background-color: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	margin: 0px auto 30px auto;
	padding: 24px 24px 60px 24px;
	font-family: 'Helvetica Neue';
}
.pagechoosetitle {
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.275px;
	color: #ffffff;
	text-transform: capitalize;
	margin: 0px 0px 10px 0px;
}
.pagechoosebrd {
	background-color: #34c759;
	width: 56px;
	height: 2px;
	margin: 0px 0px 24px 0px;
}
.pagechoosetext {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: rgba(255, 255, 255, 0.5);
	max-width: 203px;
}

/* ------------------ */

.pagemeal {
	max-width: 350px;
	margin: 0 auto;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	font-family: 'Helvetica Neue';
}
.pagemealimg {
	margin: 0px 0px 29px 0px;
}
.pagemealtitle {
	font-size: 32px;
	line-height: 30px;
	color: #d9d9d9;
	padding: 0px 30px;
}
.pagemealsubtitle {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.15px;
	color: #a4a8b2;
	padding: 0px 30px;
	margin: 0px 0px 20px 0px;
}
.pagemealtext {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: #85878c;
	padding: 0px 30px;
	margin: 0px 0px 24px 0px;
}
.pagemealbody {
	padding: 0px 30px 28px 24px;
}
.pagemealstars {
}
.pagemealitem {
	display: inline-block;
}
.it {
	margin: 0px 14px 0px 0px;
}
.pagemealnumber {
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
	font-size: 12px;
	letter-spacing: 1.5px;
	color: #b3b3b3;
	margin: 0px 20px 0px 0px;
}
.pagemealbtn {
	display: inline-block;
	font-weight: 900;
	font-size: 10px;
	line-height: 40px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	padding: 0px 32px;
	background-color: #262626;
	border: 2px solid #303030;
	box-sizing: border-box;
	border-radius: 30px;
}
.pagemealbtn a {
	color: rgba(255, 255, 255, 0.5);
}
